@import "config";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    font-family: Kumbh Sans;
    font-size: 18px;
}
p, label{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1rem;
    color: $Very-dark-desaturated-blue;
}
p{
    font-weight: 700;
}
label{
    margin-top: 4px;
    font-weight: 400;
    margin-top: 9px;
    color: $Dark-grayish-blue;
}
body{
    margin: 0;
    background-color: $Dark-cyan;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.pattern:nth-child(1){
    position: absolute;
    left: -208px;
    top: -60%;
}
.pattern:nth-child(2){
    position: absolute;
    left: 50%;
    top: 370px;
}
.card{
    width: 350px;
    height: 374px;
    background-color: $primary-color-white;
    border-radius: 13px;
    margin: auto auto auto auto;
    box-shadow: 3px 4px 44px -5px rgba(0, 0, 0, 0.25);

    .user-details {
        margin-top: 72px;
        margin-bottom: 25px;
    }
    .user-details{
        label{
            margin-left: 9px;
            margin-top: 0px;
        }
    }
    .bg-pattern-card{
        width: 100%;
        height: 140px;
        border-radius: 13px 13px 0px 0px;
        background-image: url($bg-pattern-card);
    }
    
    .avatar {
        width: 96px;
        height: 96px;
        padding: 5px;
        background: white;
        position: relative;
        border-radius: 50%;
        left: 121px;
        top: 87px;
    }
    .insight {
        width: 248px;
        height: 47px;
        justify-content: space-between;
        margin: 25px auto 25px auto;
        padding: 0px 47px;

        .insight__label {
            font-size: 11px;
        }
    }
    
    hr {
        height: 1px;
        background-color: #E7E7E7;
        border: none;
    }
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{ 
    flex-direction: row;
}
.column{
    flex-direction: column;
}
footer {
    width: max-content;
    height: max-content;
    position: fixed;
    bottom: 0px;
    border-radius: 9px 9px 0px 0px;
    background-color: #444;
    color: white;

    .attribution {
        padding: 20px;
        font-size: 13px; 
        text-align: center; 
    }
    .attribution a, p{ 
        color: hsl(228, 45%, 44%); 
    }
}