@import "config";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    font-family: Kumbh Sans;
    font-size: 18px;
}
p, label{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1rem;
    color: $Very-dark-desaturated-blue;
}
p{
    font-weight: 700;
}
label{
    font-size: 14px;
    font-weight: 400;
    color: $Dark-grayish-blue;
}
body{
    margin: 0;
    background-color: $Dark-cyan;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.pattern:nth-child(1){
    position: absolute;
    left: -500px;
    top: -90%;
}
.pattern:nth-child(2){
    position: absolute;
    left: 50%;
    top: 500px;
}
.card{
    width: 350px;
    height: 374px;
    background-color: $primary-color-white;
    border-radius: 13px;
    margin: auto auto auto auto;

    .user-details {
        margin-top: 75px;
        margin-bottom: 25px;
    }
    .user-details{
        label{
            margin-left: 9px;
            margin-top: 9px;
        }
    }
    .bg-pattern-card{
        width: 100%;
        height: 120px;
        border-radius: 13px 13px 0px 0px;
        background-image: url($bg-pattern-card);
    }
    
    .avatar {
        width: 96px;
        height: 96px;
        padding: 5px;
        background: white;
        position: relative;
        border-radius: 50%;
        left: 121px;
        top: 75px
    }
    .insight {
        width: 248px;
        height: 47px;
        justify-content: space-between;
        margin: 25px auto 25px auto;

        .insight__label {
            font-size: 11px;
        }
    }
    hr {
        color: $Dark-grayish-blue;
    }
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{ 
    flex-direction: row;
}
.column{
    flex-direction: column;
}